@charset "UTF-8";
/* CSS Document */

{CSS}

/*
整體寬 960px
Logo: http://i.imgur.com/pHyusTb.png
登入小人: http://i.imgur.com/HxSb8GP.png
選單 15px
*/
header{
  width:990px;
  margin: 0 auto;
}

ul{
  margin-top: 3em;
 
}
h1{
/*   margin-top:3em;*/
}
h1, li,ul{
  float:left;
}
li{
   margin-left:3em;
   list-style-type:none;
}
span{
  margin-top:3em;
  float: right;
}
 
